{% extends 'base.html' %}
{% block title %}
    change_password
{% endblock %}
{% block body %}
<style>
    body {
        margin: 0;
        padding: 10px;
    }

    h1 {
        color: white;
        text-align: center;
        margin-bottom: 20px;  /* Reduced space below the heading */
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50vh;
        padding: 0;  /* Remove additional padding */
    }

    form {
        border: 1px solid gray;
        padding: 20px;  /* Adjust padding for the form */
        margin: 0;
        width: 90%;
        max-width: 500px;
        background-color: #262a33;
        border-radius: 20px;
    }

    p {
        color: white;
        margin-bottom: 10px;  /* Reduced space between paragraphs */
    }

    p.error {
        color: red;
    }

    .submit-button {
        background-color: #13C055FC;
        border-radius: 10px;
        height: 30px;
        width: 100%;
        border: 1px #13C055FC solid;
        color: white;
        transition: 0.3s;
    }

    .submit-button:hover {
        background-color: #88e08b;
        color: black;
    }

    /* Responsive styles */
    @media (min-width: 768px) {
        form {
            width: 70%;
        }
    }

    @media (min-width: 1024px) {
        form {
            width: 50%;
        }
    }
</style>

<h1>تغییر رمز عبور</h1>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <p>رمز عبور قدیمی</p>
        {{ form.old_password }}<br>
        <p>رمز عبور جدید</p>
        {{ form.new_password }}<br>
        <p>تکرار رمز عبور</p>
        {{ form.repeat_password }}<br>
        <p class="error">{{ error }}</p>
        <button type="submit" class="submit-button">تغییر رمز عبور</button>
    </form>
</div>
{% endblock %}
